
    <div class="container">
        <div class="row">
            <div class="col-md-3 mb-3">
                <h5 class="text-orange">Quick Links</h5>
                <ul class="list-unstyled">
                    <li><a routerLink="/home" class="text-grey">Home</a></li>
                    <li><a routerLink="/about" class="text-grey">About Us</a></li>
                    <li><a routerLink="/menu" class="text-grey">Menu</a></li>
                    <li><a routerLink="/contact" class="text-grey">Contact</a></li>
                </ul>
            </div>
  
            <div class="col-md-3 mb-3">
                <h5 class="text-orange">Address</h5>
                <p class="text-grey">3315 Farm to Fork Street<br>Jeddah</p>
                <p class="text-grey">Phone: (966) 53-697-0834</p>
                <p class="text-grey">Email: lama.albladi&#64;hotmail.com</p>
            </div>
  
            <div class="col-md-3 mb-3">
                <h5 class="text-orange">Hours of Operation</h5>
                <ul class="list-unstyled text-grey">
                    <li>Sun-Thu: 11:00 AM - 10:00 PM</li>
                    <li>Fri-Sat: 9:00 AM - 11:00 PM</li>
                </ul>
            </div>
  
            <div class="col-md-3 mb-3 text-center">
                <h5 class="text-orange">Follow Us</h5>
                <div class="d-flex justify-content-center">
                    <a  class="text-white me-3"><i class="bi bi-facebook fs-4"></i></a>
                    <a  class="text-white me-3"><i class="bi bi-x fs-4"></i></a>
                    <a  class="text-white me-3"><i class="bi bi-instagram fs-4"></i></a>
                    <a  class="text-white"><i class="bi bi-youtube fs-4"></i></a>
                </div>
            </div>
        </div>
  
        <div class="row mt-4">
            <div class="col text-center">
                <p class="mb-0 text-grey">&copy; 2024 Farm to Fork. All rights reserved.</p>
            </div>
        </div>
    </div>
